<div class = "message-view">
<div class = "messages">
<div class = "row">
	<div class = "col-md-12">
		<ul class="nav nav-tabs mail-tabs">
			<li class="<%= 'active' if @inbox%>">
   				<a href="<%= '/messages' if !@inbox%>">Inbox</a></li>
  			<li class="<%= 'active' if !@inbox%>">
  				<a href="<%= '/messages/outgoing' if @inbox%>">Sent</a></li>
  			<li class = "send-mail"><%=link_to "Send a message", new_message_url%></li>
 		</ul>
 	</div>
</div>
<div class = "inbox row">

	<%@messages.each do |m| %>
	<div class = "message row"><a href = "<%=message_url(m.id)%>">
		<div class = "message-read col-md-1">
			<%if !m.is_read? && @inbox%>
			  &#9733;
			<%end%>
		</div>
		<div class = "message-from col-md-3 truncated">
			<%if @inbox %>
 			<%= m.sender.username%>
 			<%else%>
 			<strong>To: </strong><%=m.recipient.username %>
 			<%end%>
 		</div>
 	
 		<div class = "message-content col-md-6 truncated">
 			<strong><%= m.subject%> </strong><%=m.content%>
 		</div>

 		<div class = "message-date col-md-2">
 			<strong>
 			<%if m.created_at > DateTime.yesterday %>
 				<%= m.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p") %>
 			<%else%>	
				<%= m.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %e") %>
			<%end%>
 			</strong>
		</div>
	</a>
	</div>
	<% end %>
	<%if @messages.size == 0 %>
	<div class = "message row">
		<div>
			You have no messages. 
		</div>
	</div>

	<%end%>
</div>

</div>
</div>