
<div>
 <%= form_for [ @message] do |f| %>
 <div class = "message new">
	<div class = "row">
	
 		<div class = "col-md-12">
 			<input type = "text_field" class = "to to-label input" value = "To:" readonly>
			<input type = "text_field" name = "username" class = "to to-input input" 
			placeholder = "username" value = "<%= @recipient.username if @recipient != nil%>">
		</div>
 	</div>
 		<div class = "row">
 		<hr>
 		</div>
 	<div class = "row">
 		<div class = "col-md-12 ">
			<%= f.text_field :subject, class: "msg input", placeholder: "Subject"  %>
		</div>
 	</div>
 		<div class = "row">
 		<hr>
 		</div>
 	<div class = "row">
		<div class = "col-md-12">
 			<%= f.text_area :content, class: "content msg input" %>
		</div>
 	</div>
 	
 		</div>
 				
			<div class = "center row">
			<%= f.submit "Send", id: "form-button", class: " btn btn-blue" %>
			</div>
	<%end%>
</div>
