<div class = "messages show">

	<div class = "message row row1">
	<span class = "bold">To:</span>
	<%=@message.recipient.username%></div>
	<div class = "message row"><span class = "bold">From:</span>
	<%=@message.sender.username%></div>
	<div class = "message row">
		<span class = "bold">Subject:<%=@message.subject%></span>
		<br>
		<%= @message.created_at.in_time_zone('Eastern Time (US & Canada)').strftime(" %B %e at %l:%M %p ") %>

	</div>
	<div class = "message row msg content"><%=@message.content%></div>
	<div class = "center row">
		<a href = "/messages/<%=@message.id%>/reply" class = "btn btn-blue">Reply</a>
	</div>

</div>