<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href = "<%= root_url %>"><%= image_tag("banner.jpg", :alt => "borrow a bash logo", :class => "navbar-brand")%>
	</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
      <div class = "search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">

      		<%if user_signed_in? %>
      			<%= render("shared/signed_in_header") %>
			<%else%>
        		<%= render("shared/signed_out_header") %>
      		<%end%>
        
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- <div class = "row">
	<div class= "header">
	<div class = "col-sm-6 col-xs-12">
		<a href = "<%= root_url %>"><%= image_tag("banner.jpg", :alt => "borrow a bash logo", :class => "header-logo")%>
		</a>
		</div>

	<div class = "col-sm-6 col-xs-12">
		<div class = "menu-options">
			
				<% if user_signed_in? %>
				<div class = "menu-option">
			
      			<a href = "<%= user_items_url(current_user.id) %>" class="btn header-btn">
      			<i class="material-icons md-36">bubble_chart</i>
      			<br><span>Your items</span>
				</a>
				</div>
				<div class = "menu-option">
					<div class = "dropdown">
	      			<button class="btn header-btn dropdown-toggle" type="button" data-toggle="dropdown"> <i class="material-icons md-36">account_circle</i><br>
	       			 Welcome, <%= current_user.username %>  <span class="caret"></span>
	      			</button>
					<ul class="dropdown-menu">
	      				<li><a href="/users/edit">My Profile</a></li>
	      				<li><a href="/users/sign_out" data-method="delete">Sign Out</a></li>
	    			</ul>
				</div>

		</div>
		<% else %>
		<div class = "menu-option">
      		<button class = "btn header-btn register js-register"> Register</button></div>
		<div class = "menu-option">
      		<button class = "btn header-btn login js-login">Sign in</button></div>
      	<% end %>
		<div class = "menu-option">
      <button type="button" class="btn header-btn">
      <i class="material-icons md-36">shopping_cart</i>
      <br>Cart
	</button></div>
	</div>
</div>
</div></div> -->