<h1> Your Items <button class = "btn btn-blue js-add-item"> Add an item to share </button></h1>
<div class = "user-items">
<%if @items.size > 0 %>
	
	<% @items.all.each do |item| %>
	<div class = "user-item" >

	<a href = "<%=user_item_url(current_user.id, item.id)%>">
		<div class = "item-box">
		
		<h5><%= item.name %></h5>
		<hr>
		<p><%if item.description%><%=item.description %><%end%></p>
		</div>

		</a>
	
		</div>
	<% end %>

<% end %>
</div>




<div class="modal fade js-modal js-new-item-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header modal-login-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

        <h2>New Item</h2>
      </div>

		   <div class="modal-body modal-new-item">
		   <%= form_for [@current_user, @item] do |f| %>
				<%= f.label :name%>
				<%= f.text_field :name, class: "js-item-name new-item-input item-name"%>
				<br>
				<%= f.label :description%>
				<%= f.text_area :description, class: "js-item-desc new-item-input item-desc" %>
				<br>
			
				
				<%= f.label :category_ids,'Category' %>	
	 			<%= f.collection_select :category_ids, Category.all, :id, :name, class: "js-item-cat" %>
				<%= f.hidden_field :user_id, value: @current_user.id, class: "js-user-id"%>
				<br>
				<%= f.button id: "form-button", class: "js-add-new-item btn btn-blue" %>
		<%end%>
				
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->