<div class = "all-items">
<h1> Your Items <a href = "<%=new_user_item_url(current_user)%>" class = "btn btn-blue"> Add an item to share </a></h1>

<div>

<%if @items.size > 0 %>
	
	<% @items.all.each do |item| %>
	
	<div class = "white user-item" >
	<a href = "<%=user_item_url(current_user.id, item.id)%>" class = "item-link">
		<div class = "item-box"> 
			<div class = "item-content">   
			<%= image_tag item.avatar.url(:medium), class:"item-image" %>
			<div class = "item-desc">
			<h5><%= item.name %></h5>
			Deposit: <%=sprintf('%.2f', item.deposit)%><br>
			 Rental fee: <%=sprintf('%.2f', item.price)%>
			</div>
			</div>
		</div>	
		</a>
	</div>

	<% end %>

<% end %>
</div>




</div>