





<div class = "listing row">
<span class = "back-link">
<%if @category%>
	<%= link_to 'Back to all items', category_url(@category) %>
<%else%>
	<%= link_to 'Back to all items', category_url %>
<%end%>
</span>
</div>
<div class = "white row">
	<div class = "col-md-4 show-item-image">
		<%= image_tag @item.avatar.url(:medium), class:"item-image large" %>
	</div>
	<div class = "col-md-4">
		<div>    
			
			<div>
			<div class = "center row"><h4><%= @item.name %></h4></div>
			<div class = "row show-item-desc">
			<%=@item.description%>
			<br>
			Deposit: <%=sprintf('%.2f', @item.deposit)%> 
			<br>
			Rental fee: <%=sprintf('%.2f', @item.price)%>
			<br>
			This item is shared by: <%=@item.user.username%>
			<br>
			<%=link_to "Send a message", "/items/#{@item.id}/message/new"%>
			</div>
		</div>
	</div>
	</div>
	<div class = "col-md-4 show-item-image">
		<img src = "<%=@map_url%>" alt = "location_of_item" class ="item-image large"/>		
	</div>	
	</div>
