 <div class = "white row item-form">
 <%= form_for [@current_user, @item],   :html => { :multipart => true } do |f| %>
					<div class = "row">
	<div class = "col-md-3">
	<%= f.label :name%>
	</div>
	<div class = "col-md-9">
	<%= f.text_field :name, class: "form-control"%>
	</div>
	</div>
	<div class = "row">
	<div class = "col-md-3">
	<%= f.label :description%>
	</div>
	<div class = "col-md-9">
	<%= f.text_area :description, class: "form-control" %>
	</div>
	</div>

	<div class = "row">
	<div class = "col-md-3">
	<%= f.label :deposit%>
	</div>
	<div class = "col-md-9">
	<%= f.number_field :deposit, class: "form-control"%>
	</div>
	</div>
	<div class = "row">
	<div class = "col-md-3">
	<%= f.label :price%>
	</div>
	<div class = "col-md-9">
	<%= f.number_field :price, class: "form-control"%>
	</div>
	</div>
	<div class = "row">
	<div class = "col-md-3">
	Category:
	</div>
	<div class = "col-md-9 cat-list">

	
				<select name = "categories">
				<% Category.all.each do |c| %>
				 <option value="<%=c.id%>"><%=c.name%></option>
				<% end %>
				</select>
					<div><br>		
	<%= f.label :avatar,'Upload new image' %>	
	<%= f.file_field :avatar %>
	<%= f.hidden_field :user_id, value: @current_user.id, class: "js-user-id"%>
		</div>
	</div>
	</div>
	
				<div class = "row center">
				<%= f.button id: "form-button", class: " btn btn-blue" %>
				</div>
		<%end%>
</div>