 <%= form_for [@current_user, @item],   :html => { :multipart => true } do |f| %>
				<%= f.label :name%>
				<%= f.text_field :name, class: "js-item-name new-item-input item-name"%>
				<br>
				<%= f.label :description%>
				<%= f.text_area :description, class: "js-item-desc new-item-input item-desc" %>
				<br>Category:
				<select name = "categories">
				<% Category.all.each do |c| %>
				 <option value="<%=c.id%>"><%=c.name%></option>
				<% end %>
				</select><br>
				<%= f.label :avatar,'Upload an image' %>	
	 			 <%= f.file_field :avatar %>
				<%= f.hidden_field :user_id, value: @current_user.id, class: "js-user-id"%>
				<br>
				<%= f.button id: "form-button", class: " btn btn-blue" %>
		<%end%>