<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BorrowABash | Plan a party with what's nearby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid" >
  		<%= render("shared/header") %>
      <%= render("shared/categories") %>
      <div class = "row">
      <div class= "col-md-12 main-content">

      <% flash.each do |key, val| %>
        <%= content_tag :div, val, id: key, style: "color:  #ff6699;" %>
      <% end %>
      
    	<%= yield %>
      </div></div>
  		<%= render("shared/footer")%>

  		<%= render("shared/login_modal") %>
  	  	<%= render("shared/register_modal") %>
 	</div> 

     <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch("GOOGLE_API_KEY")%>"
    async defer></script>
  </body>



</html>
